:root {
  /* text */
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --white-text-color: #ffffff;
  --secondary-text-color: #f4f4fd;
  --hover-text-color: #404bbf;
  /* background colors */
  --primary-background-color: #ffffff;
  --secondary-background-color: #e7e9fc;
  --acent-backgrond-color: #2e2f42;
  --second-acent-background-color: #f4f4fd;
  /* logo */
  --second-logo-color: #4d5ae5;
  --first-logo-color: #2e2f42;
  /* buttons */
  --button-color: #4d5ae5;
  --button-hover-color: #404bbf;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/*        HEADER          */

.menu .link {
  color: var(--title-text-color);
  font-weight: 500;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  color: var(--hover-text-color);
}

.page-header-address {
  font-style: normal;
}

/* LOGO */

.logo {
  color: var(--second-logo-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-acent {
  color: var(--first-logo-color);
}

/* ADDRESS */

.contact .link {
  color: var(--primary-text-color);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--hover-text-color);
}

/*        MAIN         */
/* HERO */

.hero {
  background-color: var(--acent-backgrond-color);
}

.hero-title {
  color: var(--white-text-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  text-align: center;
}

.hero-button {
  font-family: inherit;
  color: var(--white-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;

  background: var(--button-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--button-hover-color);
}

/* FEATCHURES */

.featchures-title {
  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

/* SPECIFICATIONS */

.specifications-title {
  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* TEAM MEMBERS */

.team-members {
  background-color: var(--second-acent-background-color);
}

.team-members-title {
  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-members-item {
  background-color: var(--primary-background-color);
}

.team-members-name {
  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

/*       FOOTER       */
.footer {
  background-color: var(--acent-backgrond-color);
  color: var(--secondary-text-color);
}

.logo-footer-acent {
  color: var(--secondary-text-color);
}

/*    PORTFOLIO     */

.category-button {
  color: var(--button-color);
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;

  background: var(--second-acent-background-color);
}

.category-button:hover,
.category-button:focus {
  color: var(--white-text-color);
  background: var(--button-hover-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-item-name {
  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.portfolio-item-category {
  color: var(--primary-text-color);
}
